@charset "UTF-8";

body, h1, h2, h3, p, ul, figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #000;
}

a:hover {
  color: #888;
}

a.button {
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.form {
  width: 300px;
  margin: 0 auto 30px;
}
.button {
  float: right;
  margin-right: 10px;
}

.button:first-of-type {
  margin-right: 0;
}

.header-inn, main {
  width: 600px;
  margin: 0 auto;
}

.header-inn {
  display: flex;
  justify-content: space-between;
}

.header-inn nav {
  width: 300px;
}

h1 {
  font-size: 1.2rem;
}

header h1 {
  font-size: 1.1rem;
}

header {
  padding: 10px 0;
  background-color: lightblue;
  margin-bottom: 20px;
}

.himitsu-area .himitsu {
  width: 200px;
  float: right;
}

th {
  text-align: left;
}

.under-area {
  border-top: #aaa solid 1px;
}

/* 修正時刻: Sun 2023/10/08 13:15:47 */
