@charset "utf-8";

body, h1, h2, h3, p, ul, figure {
  margin:0;
}

ul {
  padding: 0;
}

div {
  margin: 1em;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

ol > li {
  list-style-type: decimal;
  margin-bottom: 0;
}

a {
  color: #5e78c1;
  text-decoration: none;
}

a:hover {
  color: #b04188;
  text-decoration: underline;
}

.error {
  color: #ff0000;
}

.notice {
  color: blue;
}


header {
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #aaa;
}

header h1 {
  padding: 0 1rem;
}

footer {
  text-align: center;
  background-color: #aaa;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 600px) {
  header h1,
  body div {
    width: 600px;
    margin: 0 auto;
  }
}

